@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    /* height: 100vh; */
}

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* --color-border: rgb(209 213 219 / var(--tw-border-opacity)); */
    --color-border: rgb(209 213 219);

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    /* font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; */
}

.main__outlet {
    /* padding-top: 4em; */
    /* margin-top: 7.5%; */
    /* height: 97.5%; */
}

/* a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
} */

li {
    list-style-type: none;
}
